h1{
    color:lime
}
 .header{
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: aquamarine;
 }

 .grid{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }

 .footer{
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
 }

 .menu{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding-left: 20px;
 }

 .description{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
 }